@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');

$white:#fff;
$green:#40A7B0;
$light-weightfont:300;
$regular-font:'Ubuntu';

.white-font
{
    color:$white;
}