footer {
    padding-top: 25px;
    padding-bottom: 25px;
    #copyrights {
      font-family: $regular-font;
      font-size: 14px;
      font-weight: $light-weightfont;
      margin: 0px;
    }
    img {
      padding-left: 15px;
    }
  }
  